@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital@0;1&display=swap');

body{
    background-color: #E5CFB5;
    font-family:'DM Sans'
}

nav{
    background-color:#E5CFB5;
    color: #1e1e1e;
    padding: 0 20px;
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    grid-template-areas: "logo menu";
    align-items:center;
    font-size:20px;
}
.menu-button{
    background-color:#3E2723;
    width:75px;
    height:40px;
    border-radius:25px;
    align-items:center;
    display:flex;
}
img{
    grid-area:logo;
    height:55px;
    width:auto;
}

ul{
    grid-area:menu;
    list-style:none;
    justify-self:end;
    li{
        display: inline-block;
        margin: 0 15px;
        a{
            color: #1e1e1e;
            text-decoration:none;
        }
    }
}

input,
label{
    display:none;
}