.section-3 {
  width: 100%;
  gap: 10px;
  margin: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.expert {
  width: 200px;
  height: 310px;
  padding: 35px 40px;
  box-shadow: 0px 15px 25px 0px #00000022;
  border-radius: 13px;
  justify-content: space-around;
}

.experts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.menuimg {
  width: 100%;
  height: auto;
}
.explore{
    color:#3E2723;
}
.namenprice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.expertise {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 18px;
}

.bug {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 18px;
}

.cartbtn {
  margin-top: 30px;
  height: 35px;
  width: 100%;
  border: 1px solid black;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.seemore {
  width: 160px;
  height: 40px;
  background-color: #3e2723;
  color: white;
  border-radius: 15px;
  font-size: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 25px 0px;
}

@media screen and (max-width: 768px) {
  .section-3 {
    display:flex;
    flex-direction: column;
    height: auto;
  }

  .experts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
  }
}
