.all {
  width: 100%;
  gap: 10px;
  margin: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.expert {
  width: 200px;
  height: 310px;
  padding: 35px 40px;
  box-shadow: 0px 15px 25px 0px #00000022;
  border-radius: 13px;
}

.menuimg {
  width: 100%;
  height: auto;
}

.namenprice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.expertise {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 18px;
}

.bug {
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 18px;
}

.cartbtn{
    height:35px;
    width:100%;
    border: 1px solid black;
    border-radius:20px;
    align-items:center;
    justify-content:center;
    display:flex;

}