<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>caffino.</title>
    <link rel="stylesheet" href="../css/main.css" />
</head>
<nav>
     <img src="/ProjektiFinal/assets/caffin.png">
      <label for="open-menu">&#9776</label>
      <input type="checkbox" id="open-menu" />
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
      <li> <div class="menu-button"><a href="#">Menu</a> </div> </li>
      </ul>
</nav>
<body>
    
</body>
</html>